// paths
$img-path: "../images/";

// images
$bg-img: $img-path + "bg.jpg";
$tree-img: $img-path + "tree.png";

// colors
$teal: #01dddd;
$red: #e30000;
$lime: #81d22f;
$pink: #e70069;
$orange: #fa5913;
$purple: #9901cc;
$yellow: #ccca16;
$blue: #284ccc;
$green: #009c23;
$turquoise: #27cc94;
$indigo: #522acc;
$l-green: #accc5e;
$b-orange: #cc4500;
$d-blue: #122472;

$aegee-blue: #0071bb;
$aegee-spb-blue: #1468c5;

// other
$fifty: 50%;
$tree-width: 650px;
